
<body>
    <h4 style="color:white; margin-left:10px">Inicio</h4>
    <div class="centrado">
        <button type="button" onclick="cargarContenido('/docsfriends/creardoc', 'Crear Documento')" class="btn btn-outline-success" id="btonagregar" style="align-content: first">SUBIR DOCUMENTO &#10133;</button>
    </div>
    <br/>
    <!--
        <div style="margin-left: 5%;">
            <select name="idTipoDocumento">
                <option disabled th:text="Tipo" selected="Tipo"></option>
                <option th:each="tipox : ${listatipodoc}" th:value="${tipox.idTipoDocumento}" th:text="${tipox.nombre_tipo}"></option>
            </select>
        </div>-->

    <div class="contendorcard" th:each="docu : ${documentosInicio}">
        <div class="card" style="width: 18rem;">
            <a th:onclick="|cargarContenido('/docsfriends/documento?docID=${docu.idDocumento}','Documento')|" type="button">
                <img th:if="${docu.ruta1 != '' && docu.ruta1 !=null}" th:src="@{/images/{id} (id=${docu.ruta1})}" class="card-img-top with-border"  width="40px" height="150px" alt="imagen documento">
                <img th:unless="${docu.ruta1 != '' && docu.ruta1 !=null}" th:src="@{/images/imagen.png}" class="card-img-top with-border"  width="40px" height="150px" alt="imagen documento">
                <h5 class="card-title text-center" th:text="${docu.titulo}" style="align-items: center;"></h5>
            </a>
            <div class="card-footer d-flex justify-content-between align-items-end">
                <button type="button" data-bs-toggle="modal" th:data-bs-target="${'#' + docu.idDocumento}">
                    <img style="width: 20%; height: auto;" th:src="@{/images/intercambio.png}" class="card-img-top" alt="...">
                </button>
            </div>
        </div>


        <div class="modal fade" th:id="${docu.idDocumento}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Solicitar intercambio</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card" style="width: 18rem;">
                                    <h5 class="card-title text-center">Libro solicitado:</h5>
                                    <img th:if="${docu.ruta1 != '' && docu.ruta1 !=null}" th:src="@{/images/{id} (id=${docu.ruta1})}" class="card-img-top"  width="40px" height="220px" alt="imagen documento">
                                    <img th:unless="${docu.ruta1 != '' && docu.ruta1 !=null}" th:src="@{/images/imagen.png}" class="card-img-top"  width="40px" height="220px" alt="imagen documento">
                                    <h5 class="card-title text-center" th:text="${docu.titulo}"></h5>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <form th:action="@{/docsfriends/solicitar}" th:object="${objsolicitud}" method="POST">
                                    <label for="exampleFormControlTextarea1" class="form-label">Escriba su solicitud:</label>
                                    <input required="true" type="text" maxlength="30" class="form-control" id="exampleFormControlInput1" th:value="${docu.idDocumento}" th:name="idDocumento" hidden>
                                    <textarea class="form-control" maxlength="200" id="exampleFormControlTextarea1" rows="3" th:name="sdescripcion"></textarea>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                        <button type="Submit" class="btn btn-warning">Solicitar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>



    <br/><br/>





</body>
<style>
    .with-border {
        border: 2px solid #000; /* Ancho del borde y color */
        /* Otros estilos de borde (como el radio de la esquina) si es necesario */
    }

    .contendorcard, a,.carde{
        display: inline-block;

    }


    .card{
        margin-left: 5%;
        align-items: center;
        max-width: 10rem;
        width: 10rem;
        height: 15rem;
    }
    .card-title{
        font-size: 15px;
        align-items: center;
    }
    .card-text{
        font-size: 10px;
        max-height: 5.5em;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .centrado{
        justify-content: center;
        display: flex;
        align-items: center;
    }
    #btonagregar{
        width: 50%;
        margin: 25px;
    }
</style>

</html>
