<body>
    <form th:object="${objdocumento}" method="POST">
        <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>

            </div><!-- th:src="@{/images/imagen.png}" -->

            <div class="carousel-inner" style="height: 250px;">
                <div class="carousel-item active">
                    <img th:if="${objdocumento.ruta1 != ''}" th:src="@{/images/{id} (id=${objdocumento.ruta1})}" class="d-block w-25 d-block mx-auto " alt="...">
                </div>
                <div class="carousel-item">
                    <img th:if="${objdocumento.ruta2 != ''}" th:src="@{/images/{id} (id=${objdocumento.ruta2})}" class="d-block w-25 d-block mx-auto " alt="...">

                </div>
                <div class="carousel-item">
                    <img th:if="${objdocumento.ruta3 != ''}" th:src="@{/images/{id} (id=${objdocumento.ruta3})}" class="d-block w-25 d-block mx-auto " alt="...">

                </div>
                <div class="carousel-item">
                    <img th:if="${objdocumento.ruta4 != ''}" th:src="@{/images/{id} (id=${objdocumento.ruta4})}" class="d-block w-25 d-block mx-auto " alt="...">

                </div>
                <div class="carousel-item">
                    <img  th:if="${objdocumento.ruta5 != ''}" th:src="@{/images/{id} (id=${objdocumento.ruta5})}" class="d-block w-25 d-block mx-auto " alt="...">

                </div>
                <div class="carousel-item">
                    <img th:if="${objdocumento.ruta6 != ''}" th:src="@{/images/{id} (id=${objdocumento.ruta6})}" class="d-block w-25 d-block mx-auto " alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>


        <hr style="border-color: #000; border-width: 2px;">
        <div class="container">
            <div class="row">
                <div class="col-2" >
                    
                </div>
                <div class="col-8" style="background-color: #43637C">
                    <br>
                    <h3 class="text-center" th:text="${objdocumento.titulo}"></h3>
                    <div class="d-flex justify-content-end align-items-center Autor">
                        <p class="Autor me-2">Subido:</p>
                        <img class="ptp" th:src="@{/images/{id} (id=${objdocumento.idusuario.idImagen.ruta})}"/>
                    </div>
                    <div class="d-flex justify-content-end align-items-center Autor">
                        <button th:if="${objdocumento.pdf}" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Muestra de documento
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Muestra de documento</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body" style=" height: 500px;">
                                        <iframe  th:src="@{/files/{ruta} (ruta=${objdocumento.pdf})}" height="100%" width="100%"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <h5 class="Autor">Autor: </h5><p class="Autor" th:text="${objdocumento.autor}"></p>

                    <br>
                    <br>
                    <p class="text-center" th:text="${objdocumento.descripcion}"></p>
                    <br>
                    <br>
                </div>
            </div>
        </div>


    </form>

</body>
<style>
    .p{
        height: 20%;
    }
    h3,h4,h5,p{
        color: white;
    }
    .Autor{
        display:inline-block;
        margin:1%;
    }
</style>