<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/Html.html to edit this template
-->
<html lang="es">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="description" content="La Aplicación Web de Intercambio de Documentos es una plataforma en línea diseñada para facilitar la interacción y el intercambio de material documental entre usuarios">
        <title>DocsFriends</title>
    </head>
    <body>
        <h1>Hola mundito</h1>
    </body>
</html>